{% extends 'base.html.twig' %}

{% block title %}
RAVEUR
{% endblock %}

{% block body %}
<main>
	
<div class="contenant">
  <img id="imgaccueil" src="img/accueil.jpeg" alt="accueil-raveur">
  <div class="texte_centre">NOUVEAUTE</div>
</div>


<table border="0" width="100%">
	<tr>
		
		<td width="50%" align="center">
			<div class="example">
				<a href="{{path('produit_categorie',{'id':2})}}"><img src="{{ asset('img/femme-coeur.jpg') }}" width="300" height="500" alt="femme coeur" /></a>
					<div class="content">
					<div class="text">Femme</div>
				</div>
			</div>
		</td>
		<td width="50%" align="center">
			<div class="example">
			<a href="{{path('produit_categorie',{'id':1})}}"><img src="{{ asset('img/homme-neon.jpeg') }}" width="300" height="500" alt="homme neon" /></a>					<div class="content">
				<div class="text">Homme</div>
				</div>
			</div>
		</td>
	</tr>
</table>



		

	<h1 class="perfectionnez">PERFECTIONNEZ VOTRE STYLE</h1>
<div class="pic-ctn">
    <img src="img/perle.jpg" alt="" class="pic">
    <img src="img/soleilune.png" alt="" class="pic">
    <img src="img/tel.jpeg" alt="" class="pic">
    <img src="img/thermos.png" alt="" class="pic">
    <img src="img/UVV.png" alt="" class="pic">
  </div>

</main>


{#                    
                  
					<div class="imgGalerie"><img class="img" src="img/neoon.jpeg" alt="tel"></div>
					<div class="imgGalerie"><img class="img" src="img/homme-neon-rouge.jpg" alt="tel"></div>
 #}

	{% endblock %}

{% block javascript %}
<script>

</script>
{% endblock %}