{% extends 'base.html.twig' %}

{% block title %}RAVEUR
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/swiper.js') }}"></script>
{% endblock %}
{% block body %}
<main>
	<section id="tendance-accueil">
		<article id="banniere">
			<img src="{{ asset('img/accueil.jpeg') }}" alt="banniere accueil">
			<div class="texte-banniere">
				<h1>Collection Néo</h1>
				<button>DECOUVRIR</button>
			</div>
		</article>
	</section>

	<section id="container-genre">
		<article>
			<div class="example">
				<img src="{{ asset('img/femme-coeur.jpg') }}" width="300" height="500" alt="femme coeur" />
				<div class="content">
					<div class="text">Femme</div>
				</div>
			</div>
		</article>

		<aside>
			<div class="example">
				<img src="{{ asset('img/homme-neon.jpeg') }}" width="300" height="500" alt="homme neon" />
				<div class="content">
					<div class="text">Homme</div>
				</div>
			</div>

		</aside>
	</section>


	<section id="carousel1">
		<h2>PERFECTIONNEZ VOTRE STYLE</h2>
                <article id="galerie">
                    <div class="imgGalerie"><img class="img" src="img/blaaa.jpg" alt="Essential"></div>
                    <div class="imgGalerie"><img class="img" src="img/hommeblond.jpeg" alt="Blond"></div>
                    <div class="imgGalerie"><img class="img" src="img/tel.jpeg" alt="tel"></div>
	
                </article>
	</section>

	{% endblock %}