<h1>Raveur, Confirmez votre e-mail !</h1>

<p>
    Bonjour,<br>
    Merci pour l'intérêt porté à notre site web de e-commerce<br>

    Nous vous invitons à confirmer votre adresse e-mail afin de valider votre compte<br>
    
    Bon voyage sur notre site<br>

    <a href="{{ signedUrl }}"> Confirmer mon email</a>.
    Ce lien expire {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Enjoy !
</p><br>
<footer>
Conformément à la Loi Informatique et Libertés du 06/01/1978, vous disposez d’un droit d’accès, de rectification et de suppression des données vous concernant et d’opposition à leur traitement.
Si vous souhaitez l’exercer, vous pouvez écrire à johan.kasri@icloud.com, en indiquant vos nom, prénom, adresse,email et si possible référence client afin d’accélérer la prise en compte de votre demande.
Vous pouvez à tout moment avoir accès et changer les informations concernant vos coordonnées dans la rubrique "Mon compte". Pour connaître notre politique de protection de vos données personnelles, connectez vous sur le site raveur.fr, rubrique « données personnelles »
</footer>
