<h1>Hi! Please confirm your email!</h1>

<p>
    Bonjour Raveur,<br>
    Merci pour l'intérêt porté à notre site web de e-commerce 

    Nous vous invitons à confirmer votre adresse e-mail pour pouvoir valider votre compte<br>
    
    Bon voyage sur notre site<br>
    <a href="{{ signedUrl }}"> Confirmer mon email</a>.
    Ce lien expire {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Enjoy !
</p>
