/* CSS BASE TWIG */

* {
    box-sizing: border-box;
    
}

#wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

/* Navbar */

.nav {
  height: 50px;
  width: 100%;
  background-color: #000000;
  position: relative;
}

.nav-title a{
  text-decoration:none;
  color: white;
}
.nav-title a:hover{
  color: #0066ff;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
  margin:auto;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgb(42, 58, 132);
}

.nav > #nav-check {
  display: none;
}

/* Responsive nav */

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(78, 68, 68);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

@media (max-width:600px) {
  .contenant{
    background-color: red;
  }

}

/* CSS PAGE D'ACCUEIL */

.contenant {
    position: relative;
    text-align: center;
    color: #0066ff;
    font-size: 3rem;
  }
  
  .contenant .texte-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color:white;
  }
.contenant .texte-centre:hover{
  color:#f37021;
}


.example {
    position: relative;
    padding: 0;
    width: 300px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    
  }

.content {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;
    background-color: rgba(200, 200, 200, 0.5);
    width: 300px;
    height: 600px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
  }
  .example .content:hover {
    opacity: 1;
  }
  .example .content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .example .content:hover .text {
    opacity: 0.5;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
  }




.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card-title{
  text-align: center;
}
.card-text{
  padding: 2px;
  font-weight: bold;
  text-align: center;

}

.card img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.card a{
 color:white;
 background-color: #000;
 padding: 0.5rem;
}

.perfectionnez{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.denomination-card{
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}


.container-turbo a{
  color: #000;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  border: #000 solid 2px;
  margin-left:7px;
  margin-right:7px;
  padding: 80px;
  text-decoration: none;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

.festival{
  padding:30px;

}

.textefes{
  font-size: 25px;
  font-weight: bold;
  margin-top: 15rem;
  margin-left: 10%;
  color: white;
}

.contenair-fesival{
  border:#000 solid 2px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  padding:30px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #000;
}
/* CSS MON COMPTE */

.bonjour{
  margin-bottom: 3rem;
}
.info-perso, .info-livraison, .info-password{
  border: solid 1px black;
  box-shadow: 0 15px 15px rgba(0, 0, 0.1, 0.5);
  padding: 15px;
  background: white;
}

.info-perso{
  margin-bottom: 3rem;
}
.info-password{
  margin-bottom: 10rem;
}

.info-livraison{
  margin-bottom: 3rem;
}

.bonjour{
  text-align: center;
  padding: 1rem;
}
.bg-account{
  position: absolute;
  z-index: 0;
  width: 1300px;
  height:750px;
  background-image:url(img/homfeu.jpg);
}

/* CSS PAGE LISTE DES PRODUITS */

/* SORTING BAR  */
.sorting-bar {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding:5px 0;
  margin-bottom:2rem;

}
.none {
  display:none;
}
.mt-40 {
  margin-top:40px;
}

.form-group
{  display : inline }

.form{
  display : inline 

}


#choix-genre{
    margin-top: 5rem;
    display: flex;

}

.titre-liste-produit{
    text-align: center;
}

.barre-tri{
  margin-top: 5rem;
}

/* Galerie */
.pic-ctn {
    width: 300px;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;

  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
    width: 300px;
    height:600px;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }

/* Detail Article */

.prod-sim{
    padding:5rem;
    text-align: center;
}

.produits-tendance{
    text-align: center;
}

.image-principale{
    max-width: 500px;
    max-height: 600px;
}

.bold{
  font-weight: bold;
  color:grey;
}
.detail-prod{
  width: 600px;
}
.detail-prod form{
padding:1rem;
font-size: larger;
}
.titre-article{
  font-size: 50px;
  font-weight: bold;
}
.prix-article{
  font-size: 30px;
  font-weight: bold;

}
.description-article{
  font-size: 30px;
  font-weight: bold;
}

.btn-acheter{
  color:white;
  background-color: #000;
  padding: 0.5rem;
}
/* Etapes Paiement */

.etapes-paiement{
    margin-top: 2rem;
    font-size: 30px;
    padding-left:2rem;
    padding-right:2rem;

}

.trait
{
border-top: 1px solid #000;
width : 400px;
margin-top: 3rem;
margin-bottom: 3rem;
}

#etapes{
    display: flex;
    font-size: 16px;

}

.fa-cart-shopping .fa-user .fa-truck-fast .fa-credit-card .fa-face-grin-hearts{
font-size: 50px;

}

.paiement-express{
    font-size: 60px;
}

.container-recap{
    display:flex;

}

.paiement-express{
    margin-top: 3rem;
}

.image-recap{
    max-width: 100px;
    max-height: 200px;
}

.cards-align{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 0px;
    overflow-y: hidden;
}


/** VIDEO BACK GROUND **/

#background-video {
  height: 600px;
  width: 1300px;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  position:relative;
}

/** PANIER **/

.titre-panier{
  padding:30px;
  text-align:center;
}



/** FOOTER **/

.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.container-contact form{
  padding:5rem;
  border: solid black 1px;
  text-align: center;
  margin-bottom: 5rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}
.container-contact h2{
  text-align: center;

}

/* BARRE DE RECHERCHE */
.searchbar{
  text-align: center;
}

.searchbar input[type="search"]{
  text-align: center;
}
#search_article_Rechercher {
  color:#0066ff;
  text-align: center;
  padding: 0 30px;
  cursor: pointer;
  margin-bottom: 2rem;

}

#search_article_mots, #search_article_categorie {
  margin:auto;
  text-align: center;
  display: -webkit-box;
  display: flex;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}

#search_article_mots, #search_article_categorie  > * {
  border: 0;
  padding: 0 0 0 10px;
  text-align: center;
  margin-bottom: 2rem;

}


