{% extends 'base.html.twig' %}

{% block title %}RAVEUR - Echec Du Paiement{% endblock %}

{% block body %}
<h1>Une erreur est surnevue lors de votre paiement</h1><br>
<img id="smiley" src="img/smiley.jpg" alt="smiley-raveur" width="25%" height="25%">
{% endblock %}
{% block javascripts %}
{% endblock %}