

{% block title %}RAVEUR - Layout
{% endblock %}
{% block stylesheet %}
 <link rel="stylesheet" href="{{ asset('css/checkout.css') }}" />
 {% endblock %}

{% block body %}
    <!-- Display a payment form -->
    <form id="payment-form">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>

{% endblock %}

{% block javascripts %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{{ asset('js/checkout.js') }}" defer></script>
<script src="{{ asset('js/stripeCustom.js') }}"></script>
{% endblock %}