{% extends 'base.html.twig' %}

{% block title %}RAVEUR - Récapitulatif du panier{% endblock %}

{% block body %}

<section class="paiement">
        <div class="etapes-paiement">

<i class="fa-solid fa-cart-shopping"></i>
PANIER
<i class="fa-solid fa-user"></i>
INFORMATIONS
<i class="fa-solid fa-truck-fast"></i>
LIVRAISON
<i class="fa-solid fa-credit-card"></i>
PAIEMENT
<i class="fa-solid fa-face-grin-hearts"></i>
VALIDATION

</div>
        <div class="row">

            <div class="col-6">
              <h2>PAIEMENT EXPRESS</h2>
              <i class="fa-brands fa-apple-pay"></i>
              APPLE PAY
              <i class="fa-brands fa-amazon-pay"></i>
              AMAZON PAY
              <i class="fa-brands fa-google-pay"></i>
              GOOGLE PAY
            </div><br>
            <div class="trait"></div>

        
        <div class="col-6">
        <h1></h1>
        
        <form action="#" method="post" >

       </form>

        </div>
    </div>
</section>
{% endblock %}
