{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de votre commande{% endblock %}

{% block body %}
<h1>1. Adresse de livraison</h1>
{{ form(formCheckout)}}

<h1>2. Adresse de Paiement</h1>



<h1>3. Récapitulatif Commande</h1>



      <form action="/create-checkout-session.php" method="POST">
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
{% endblock %}
